
/* *{
  margin: 0;
  width: 0;
} */


.fondo-avion{
  height: 100%;
  width: 100%;
  background-image: url("https://fondosmil.com/fondo/31173.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.input-form{
  margin: 20px;
}